{% extends '::base.html.twig' %}
{% block title %}
    {{ product.title }}
{% endblock %}
{% block body %}
    <h1>{{ product.title }}</h1>
    {{ product.description|raw }}

    {{ tscms_shop_pricecalc(product)|currency }}
    {{ form(buy_form) }}
{% endblock %}
