{% extends '::base.html.twig' %}
{% block title %}
    {{ productlist.title }}
{% endblock %}
{% block body %}
    <h1>{{ productlist.title }}</h1>
    {{ productlist.content }}
    {% for product in products %}
        <b><a href="{{ product.routeConfig.path }}">{{ product.title }}</a></b>
        <br/>
    {% endfor %}
    {% if products.count is defined %}
        {{ knp_pagination_render(products) }}
    {% endif %}
{% endblock %}
