{% extends 'tsCMSSystemBundle::layout.html.twig' %}
{% block title %}{{ "shipmentmethods"|trans }}{% endblock %}
{% block content %}
    <div class="col-lg-9">
        {{ form_start(shipmentForm) }}
            <div class="well">
                <div style="min-height: 80px;" id="shipmentMethods">
                    {% for index,shipmentMethod in shipmentMethods %}
                        <div class="box box-solid">
                            <div class="box-header">
                                <a href="#" class="remove" style="margin: 5px;">
                                    <i class="fa fa-times"></i>
                                </a>
                                <div class="box-title">
                                    <span>{{ shipmentMethod.method.title }} - </span>
                                    {{ shipmentMethod.gateway.name|trans }}
                                    {{ form_widget(shipmentForm[index].enabled) }}
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="optionform">
                                    <a class="fa fa-toggle-down toggleOptions" href="#"> {{ "shipmentmethod.toggleOptions"|trans }}</a>
                                    <div style="display: none;">
                                        {{ form_row(shipmentForm[index].id) }}
                                        {{ form_row(shipmentForm[index].position) }}
                                        {{ form_row(shipmentForm[index].gateway) }}
                                        {{ form_row(shipmentForm[index].title) }}
                                        {{ form_row(shipmentForm[index].description) }}
                                        {{ form_row(shipmentForm[index].vatGroup) }}
                                        {{ form_row(shipmentForm[index].shipmentGroups) }}
                                        {% if shipmentMethod.template %}
                                            {% include shipmentMethod.template with { 'optionForm': shipmentForm[index].options } %}
                                        {% else %}
                                            {{ form_widget(shipmentForm[index].options) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="{{ "shipmentmethod.save"|trans }}"/>
        {{ form_end(shipmentForm) }}
    </div>
    <div class="col-lg-3" id="availableGateways">
        {% for availableGateway in availableGateways %}
            <div class="box box-solid bg-light-blue">
                <a href="#" class="remove" style="display: none;margin: 5px;">
                    <i class="fa fa-times"></i>
                </a>
                <div class="box-header">
                    <div class="box-title">
                        <span></span>
                        {{ availableGateway.gateway.name|trans }}
                    </div>
                </div>
                <div class="box-body">
                    <div class="description">
                        {{ availableGateway.gateway.description|trans }}
                    </div>
                    <div class="optionform" style="display: none;">
                        <a class="fa fa-toggle-down toggleOptions" href="#"> {{ "shipmentmethod.toggleOptions"|trans }}</a>
                        <div style="display: none;">
                            {{ form_row(availableGateway.optionForm._P_.enabled) }}
                            {{ form_row(availableGateway.optionForm._P_.id) }}
                            {{ form_row(availableGateway.optionForm._P_.position) }}
                            {{ form_row(availableGateway.optionForm._P_.gateway) }}
                            {{ form_row(availableGateway.optionForm._P_.title) }}
                            {{ form_row(availableGateway.optionForm._P_.description) }}
                            {{ form_row(availableGateway.optionForm._P_.vatGroup) }}
                            {{ form_row(availableGateway.optionForm._P_.shipmentGroups) }}
                            {% if availableGateway.template %}
                                {% include availableGateway.template with { 'optionForm': availableGateway.optionForm._P_.options } %}
                            {% else %}
                                {{ form_widget(availableGateway.optionForm._P_.options) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/tscmsshop/js/shop.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $("#availableGateways").find(".box").draggable({
            connectToSortable: "#shipmentMethods",
            helper: "clone"
        });

        var shipmentMethods = $("#shipmentMethods");
        shipmentMethods.sortable({
            handle: '.box-header',
            over: function( event, ui ) {
                $(ui.helper).removeClass("bg-light-blue");
            },
            receive: function (event, ui ) {
                var all = shipmentMethods.find(".box");
                var item = all.filter(function() {
                    var result = false;
                    $(this).find("input,textarea,select,button").each(function() {
                        var field = $(this);
                        if (field.attr("name") && field.attr("name").indexOf("_P_") != -1) {
                            result = result || true;
                        }
                    });
                    return result;
                });
                item.removeClass("bg-light-blue");
                item.find(".remove").show();
                item.find(".description").hide();
                item.find(".optionform").show();
                var count = all.length;
                item.find("input,textarea,select,button").each(function() {
                    var field = $(this);
                    if (field.attr("name")) {
                        field.attr("name", field.attr("name").replace("_P_", count));
                    }

                    if (field.attr("id")) {
                        field.attr("id", field.attr("id").replace("_P_", count));
                    }
                });
                item.find("div").each(function() {
                    var box = $(this);
                    if (box.attr("id")) {
                        box.attr("id", box.attr("id").replace("_P_", count));
                    }
                });
                item.find("label").each(function() {
                    var label = $(this);
                    if (label.attr("for")) {
                        label.attr("for", label.attr("for").replace("_P_", count));
                    }
                });
                item.find("[data-prototype]").each(function() {
                    var prototyper = $(this);
                    prototyper.data("prototype", prototyper.data("prototype").replace(/_P_/g, count));
                });
                form(item);
            },
            stop: function( event, ui ) {
                shipmentMethods.find(".box").each(function(index) {
                    var method = $(this);
                    method.find("input[name$='[position]']").val(index);
                });
            }
        });
        shipmentMethods.on("click",".remove",function() {
            var closeButton = $(this);
            closeButton.closest(".box").remove();
            shipmentMethods.find(".box").each(function(index) {
                var method = $(this);
                method.find("input[name$='[position]']").val(index);
            });
        });

        $(document).on("click", ".toggleOptions", function() {
            var toggle = $(this);
            toggle.next().slideToggle();
            toggle.toggleClass("fa-toggle-down").toggleClass("fa-toggle-up");
            return false;
        });
    </script>
{% endblock %}