{% extends 'tsCMSSystemBundle::layout.html.twig' %}
{% block title %}{{ "orders"|trans }}{% endblock %}
{% block content %}
    <div class="box collapsed-box">
        <div class="box-header">
            <div class="box-title">
                {{ "order.filter"|trans }}
            </div>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body" style="display: none;">
            {{ form_start(filterForm) }}
            <div class="row">
                <div class="col-lg-2">
                    {{ form_row(filterForm.status) }}
                </div>
                <div class="col-lg-2">
                    {{ form_row(filterForm.paymentStatus) }}
                </div>
                <div class="col-lg-2">
                    {{ form_row(filterForm.date) }}
                </div>

            </div>
            {{ form_row(filterForm.save) }}
            {{ form_end(filterForm) }}
        </div>
    </div>
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ "order.id"|trans }}</th>
                    <th>{{ "customerDetails.name"|trans }}</th>
                    <th>{{ "order.status"|trans }}</th>
                    <th>{{ "order.paymentStatus"|trans }}</th>
                    <th>{{ "order.date"|trans }}</th>
                    <th>{{ "order.total"|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <input name="orders[]" value="{{ order.id }}" type="checkbox"/>
                        </td>
                        <td>
                            {{ order.id }}
                        </td>
                        <td>
                            {{ order.customerDetails ? order.customerDetails.name : '' }}
                        </td>
                        <td>
                            {{ ("orderstatus."~ order.status)|trans }}
                        </td>
                        <td>
                            {{ ("paymentstatus."~ order.paymentStatus)|trans }}
                        </td>
                        <td>
                            {{ order.date|date("d-m-Y H:i")}}
                        </td>
                        <td>
                            {{ tscms_shop_totalcalc(order)|currency }}
                        </td>
                        <td>
                            <a href="{{ path("tscms_shop_order_edit", { id: order.id }) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="{{ "order.handle"|trans }}"/>
        <a class="btn btn-default" href="{{ path("tscms_shop_order_create") }}">{{ "order.create"|trans }}</a>
    </form>
{% endblock %}